/*css/estilos.css*/
/* Reset basico a todo*/
* {margin: 0;
    padding: 0;
    box-sizing: border-box;
}/*esta regla elimina los margenes y el relleno predeterminado de todos los elementos y establece el modelo de caja para incluir el relleno y el borde en el ancho y el alto del elemento*/
html{
    font-size: 100%;
}

::selection{
    color: #fdfcfb;
    background-color: #ff2e13;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
}

body{
    font-family: "Faculty Glyphic", Arial, Helvetica, sans-serif;
    line-height: 1.2;
    color:#bd4545;
    text-align: center;
    padding-top: 220px;
}/*esta regla define la fuente y el color de texto del documento*/
h1  {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    font-family: "Aubrey",Arial, Helvetica, sans-serif ;
    line-height: 1.6;
}
header nav a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
    padding: 15px 20px;
}
header nav ul{
    list-style: none;/*Para quitar los puntos del otro lado*/
}

header nav li{
    display: inline-block;
}

.menu-de-anclas-internas a{
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 0.9rem;
    color: #7501fa;
}
.menu-de-anclas-internas li{
        list-style: none;
}

p a{
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 0.9rem;
    color: #7501fa;
}


h2{
    /*border: 1px solid ;*/
    /*Para visualizarlo mejor el borde del contenedor*/
    text-align: center;
    margin: 20px 0px 20px 0px; 
            /*Arr, Der, aba, izq*/
    font-size: 2rem;
    font-weight: 700;
}


h3{
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

h4{
    margin-left: 15px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}


main p{
    max-width: 70ch;
}
main a{
    text-decoration: none;
    border-bottom: 1px solid #bd4545;
}

blockquote p{
    font-style: italic;
    color: #555;
}

table{
    margin: 0 auto;
}
p{
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

.lo-mas-relevante{
    background-color: #f0f680;
}

#inicio{
    background-color: antiquewhite;
    background-image: url(../recursos/fondo1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 16rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}


nav a {
    color: #fff;
    margin: 0px 10px 0px 10px;
    transition: 0.3ms;
}



nav a:hover{
    color: #f88474;
}

tbody tr:nth-child(even){
    background-color: #f2d9a0;
}


#final{
    background-color: antiquewhite;
}

footer{
    background-color: antiquewhite;
    padding: 20px;
    margin-top: 32px;
}