
/*RESET*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

::selection {
    color: #fdfcfb;
    background-color: #ff2e13;
}
:root{
--fuente-texto: "Faculty Glyphic", Arial, Helvetica, sans-serif;
--fuente-titulos: "Aubrey", Arial, Helvetica, sans-serif;


--color-texto: #333;
--fondo-blanco-roto: #f7f7f7;


--esp-xs: 0.8rem;
--esp-sm: 1.6rem;    
--esp-md: 2.4rem;     
--esp-lg: 4.0rem;    
--esp-xl: 8.0rem; 

--radio: 0.6rem
--transicion: 0.25s ease;
--ancho-max: 120rem;    
}


body p, a{
    font-family: var(--fuente-texto);
    font-size: 1.6rem;
}

h1{font-size: 4rem;}
h2{font-size: 3.5rem;}
h3{font-size: 3rem;}
h4{font-size: 2.5rem;}

h1, h2, h3, h4{
    font-family: var(--fuente-titulos);
}

a , li{text-decoration: none; list-style: none;}

img{
    max-width: 100%;
    display: block;
    height: auto;
}

.contenedor{
    margin: 0 auto;
    max-width: var(--ancho-max);
}


/*Header con el nav*/

.contenedor-encabezado{
    background-image: url(../recursos/fondo1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 10rem;

    display: flex;
    flex-direction: column;
    padding: var(--esp-xs) 0;
    align-items: center;
}

.lista-navegacion{
    display: flex;
    gap: var(--esp-sm);
}
